.signup-class {
    margin-top: auto;
    padding-top: 2%;
    margin-left: 32%;
    margin-right: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: blue;
  }
  
  @media screen and (max-width: 600px) {
    .signup-class {
      width: 100%;
      margin: 40% 4% 4% 4%;
      color: blue
    }
  }
  
  h3 {
    text-align: center;
  }
  
  .d-center {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .main .left-block {
    width: 130px;
    border-radius: 0.05%;
  }
  